.about-mf .box-shadow-full {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.about-mf .about-img {
  margin-bottom: 2rem;
}

.about-mf .about-img img {
  margin-left: 10px;
}

.skill-mf span {
  color: #4e4e4e;
}

.skill-mf .progress {
  background-color: #bbf5df;
  margin: .5rem 0 1.2rem 0;
  border-radius: 0;
  height: .7rem;
}

.skill-mf .progress .progress-bar {
  height: .7rem;
  background-color: #24b67e;
}

/* Contêiner dos Botões */
.btn-container {
  background-color: #fff;
  color: #24b67e;
  border-radius: 0;
  padding: .5rem 1.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  display: flex; /* Usa Flexbox para distribuir os botões */
  gap: 1rem; /* Espaço entre os botões */
}

/* Estilo dos Botões Primários */
.btn-container .btn-primary {
  background-color: #24b67e;
  color: #fff;
  border-color: #24b67e;
  border-radius: 0; /* Certifique-se de que todos os botões têm a borda arredondada igual */
  padding: .5rem 1.5rem; /* Espaçamento interno do botão */
  font-size: 1rem; /* Tamanho da fonte do botão */
  flex: 1; /* Faz os botões ocuparem o espaço disponível igualmente */
}

/* Caso tenha outros estilos específicos para outros botões */
.btn-container .btn-secondary {
  background-color: #e0e0e0;
  color: #24b67e;
  border-color: #e0e0e0;
}
