<section id="about" class="about-mf sect-pt4 route">
  <div class="about-container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-6 col-md-5">
                  <div class="image-container">
                    <img
                      src="assets/images/lais.png"
                      class="img-fluid rounded b-shadow-a"
                      alt="Foto de Laís Pinheiro"
                    />
                  </div>
                </div>
                <div class="col-sm-6 col-md-7">
                  <div class="description-container">
                    <p>
                      <span class="title-s">Name: </span>
                      <span>Laís Pinheiro</span>
                    </p>
                    <p>
                      <span class="title-s">Profile: </span>
                      <span>Front-End Developer</span>
                    </p>
                    <p>
                      <span class="title-s">Email: </span>
                      <span>laisbordallo&#64;outlook.com</span>
                    </p>                
                  </div>
                </div>
              </div>
              <div class="skill-mf">
                <p class="title-s">Skill</p>
                <span>HTML</span> <span class="pull-right">85%</span>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 85%"
                    aria-valuenow="85"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <span>CSS3</span> <span class="pull-right">75%</span>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 75%"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <span>Typescript</span> <span class="pull-right">50%</span>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 50%"
                    aria-valuenow="50"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
                <span>JavaScript</span> <span class="pull-right">90%</span>
                <div class="progress">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    style="width: 90%"
                    aria-valuenow="90"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                  <h5 class="title-container">About me</h5>
                </div>
                <p class="lead">
                  Sou uma profissional com experiência em programação através de
                  projetos freelancer, onde atuei com uma equipe para entrega de
                  sistemas web, além de pequenos projetos pessoais.
                </p>
                <p class="lead">
                  Atuo como consultora freelancer para uma pequena startup
                  americana, onde desempenho o papel de Diretora de operações e
                  administradora de sistemas, quando necessário. Este trabalho
                  me trouxe experiência em gerenciamento de servidores de banco
                  de dados por meio de gateways, DICOM, bem como diversos
                  softwares da área médica como a cloud Fujifilm e metodologias
                  Agile/Scrum.
                </p>
                <p class="lead">
                  Também mantenho um emprego noturno como Analista de Suporte,
                  atuando como ponto focal para incidentes e monitoramento de
                  ofensas SOC e NOC. Desempenhei de forma excelente na empresa
                  Algar ao auxiliar a reformular diversos fluxos no turno da
                  madrugada, criar documentações deste período que anteriormente
                  não existiam e por atuar como ponto focal do time em diversas
                  ocasiões.
                </p>
                <p class="lead">
                  Tenho muita bagagem e profissionalismo, com facilidade de
                  aprendizado e adaptação a novas tecnologias, e espero ser um
                  bom fit para a empresa.
                </p>
              </div>
            </div>
            <div class="btn-container">
              <a
                href="../../assets/pdfs/resume.pdf"
                download="../../assets/pdfs/resume.pdf"
                class="btn btn-primary"
                >Currículo</a>
              <a 
                href="https://www.linkedin.com/in/laíspinheiro"
                class="btn btn-primary"
                >LinkedIn</a
              >
              <a href="https://github.com/LaisBordallo" class="btn btn-primary"
                >Github</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
