/* Estilo para a seção About */
#about {
  padding: 4rem 0;
  background-color: #fff;
}

.about-mf .box-shadow-full {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

/* Estilo para o título das habilidades */

.line-mf {
  width: 50px;
  height: 3px;
  background-color: #24b67e;
  margin: 0 auto 2rem auto;
  
}

.title-a {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.skill-mf .title-s {
  font-size: 1.2rem; /* Ajustado para corresponder ao padrão */
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem; /* Espaço abaixo do título */
}

/* Estilo para a lista de habilidades */
.skill-mf ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-mf li {
  font-size: 1rem;
  color: #333;
  padding: 0.3rem 0; /* Espaçamento entre itens */
  border-bottom: 1px solid #ddd; /* Linha separadora */
}

/* Estilo geral dos botões */
.button {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  transition: background-color 0.3s;
  cursor: pointer;
  margin-right: 2rem; 
  margin-left: 2rem; 
  text-decoration: none;
  margin-top: 3rem;
  align-items: center;
}

.button:focus {
  outline: 0;
}

.button:hover {
  background-color: #0d9963;
  color: #fff;
  text-decoration: none;
}

.button-a {
  background-color: #24b67e;
  color: #fff;
  border-color: #bbf5df;
}

.button-big {
  padding: 0.9rem 2.3rem;
  font-size: 1.2rem;
}

.button-rouded {
  border-radius: 5rem;
}

/* Estilo para a descrição do about-me */
.about-me .lead {
  font-size: 1rem;
  color: #333;
  margin-bottom: 1rem;
}

/* Estilo para o container da imagem */
.image-container img {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para o container da descrição */
.description-container span {
  display: block;
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
}
