.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  transition: transform 0.3s;
  max-width: 300px; /* Ajuste conforme necessário */
  margin: auto; /* Centraliza o conteúdo */
}

.owl-carousel .owl-item.center .testimonial {
  transform: scale(1.2); /* Aumenta o item central */
}

.owl-carousel .owl-item.active:not(.center) .testimonial {
  opacity: 0.7; /* Deixa os itens laterais um pouco transparentes */
}

.testimonial-image {
  width: 150px; /* Ajuste o tamanho conforme necessário */
  height: 150px; /* Ajuste o tamanho conforme necessário */
  border-radius: 50%; /* Torna a imagem circular */
  margin-bottom: 15px;
  object-fit: cover; /* Garante que a imagem se ajuste ao container */
}

.testimonial h3 {
  margin: 10px 0 5px;
  font-size: 1.2em;
}

.testimonial p {
  font-size: 1em;
  color: #555;
  margin: 5px 0 10px;
  text-align: center;
}

.testimonial small {
  font-size: 0.9em;
  color: #888;
}

/* Estilos para os pontos de navegação */
.owl-dots {
  text-align: center;
  margin-top: 15px;
}

.owl-dot {
  display: inline-block;
  width: 30px; /* Ajuste a largura conforme necessário */
  height: 5px; /* Ajuste a altura conforme necessário */
  margin: 5px;
  background: #ccc;
  border-radius: 5px; /* Barras retangulares com bordas arredondadas */
  transition: background 0.3s;
}

.owl-dot.active {
  background: #333;
}
